<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="cusUserLogic" class="com.emotion.cus.logic.CusUserLogic" scope="prototype">
        <property name="cusUserMapper" ref="cusUserMapper"/>
    </bean>

    <bean id="responseObject" class="com.emotion.sys.ResponseObject" scope="prototype"/>

</beans>